* {
  margin: 0;
  margin-top: 2vw;
  margin-right: 5px;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  color: #131313;
  line-height: 1.5;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  a {
        text-decoration: none;
        color: #131313;
    }
}

@media (max-width: 670px) {
  .content {margin: 0 0.75rem !important;}
  footer{
    text-align: center;
    font-weight: bold;
    .previous, .next{float:none !important; padding: 20px 20% !important;}
  }
}

@media (max-width: 1000px) {
  previous, .next{padding: 10px 20% !important;}
  .content {
    margin: 0 1rem !important;
    width: calc(100%- 2rem) !important;
  }
  .page_header{
    display: block;
    flex-direction: column !important; /*stack vertically*/
    padding-top: 0px !important;
  }
  .page_name{
    text-align: center !important;
    padding-top: 10px !important;
    padding-right: 0;
    h1{margin-top: 10px !important; font-size: 36px;}
    h2{font-size: 14px !important; margin-bottom: 10px !important;}
  }
  .page_header img{
    width: 100% !important;
    height: auto !important;
    margin:0 !important;
  }
  table{width: 100% !important; overflow-x: auto;}
  td, th{padding: 10px 3px !important;}
  .content_symbol p{margin:0 !important;}
  .content .content_symbol img{
    width: 50% !important;
    margin: 0 20% !important;
    padding: 20px 0 !important;
    justify-items: center !important;
  }
} /*^ for smaller screen*/

.page_header {
  display: flex;
  flex-direction: row; /*default: image and page name + subtile side by side*/
  gap: 0;
  margin: 0;
  img{
    margin: 2rem;
    float: left;
    height: 80vh;
    width: auto;
  }
}


.page_name {
  align-items: right;
  text-align: right;
  color: #131313;
  padding-right: 2rem;
  font-family: 'Georgia', serif;
  flex: 1; /*allow content to grow and take available space*/
  h1 {
    margin-top: 50vh;
    font-size: 40px; 
  }
  h2 {
    font-size: 24px;
  }
}

.content{
  margin: 0 2rem;
  display: grid;
  grid-template-columns: 2;
  .content1 h2{
    margin-top: 20px;
  }
}

.content .content_symbol img{
  width: 15vw;
  height: auto;
  float: left;
  padding: 50px 10px;
  padding-left: 0;
  margin: 20px 2rem;
}
.content_symbol p{margin-left: calc(15vw + 30px + 2rem);}

.content h2{
  font-size: 20px;
  margin-top: 2rem;
  font-family: 'Georgia', serif;
}
/*^ setting for the content*/

.content p {padding-top: 5px; font-size: 16px;}

table{
  width: 90%;
  border-collapse: collapse;
  margin-top: 15px;
  border: 1px solid #131313;
  margin: 0;
  font-size: 16px;
}

th {
  border: 1px solid #131313;
  padding: 10px;
  text-align: center;
}

td {
  border: 1px solid #131313;
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {background-color: #dddddd;}

footer {
  position: absolute;
  display: table;
  width: 100%;
  margin-bottom: clamp(2.5rem, 6vw, 5rem);
  background-size: cover;
  .footer-container{
        width: 100%;
        background: #e9e4dbff;
        margin-top: 20px;
        padding: 15px 1.5rem;
        overflow: hidden;
        .previous {
            float: left;
            padding: 10px;
            padding-bottom: 0;
        }
        .next {
            float: right;
            padding: 10px;
            padding-bottom: 0;
            padding-right: 40px;
        }
    }
} /*footer style*/



